body{
    background-color: rgb(255, 0, 0);
    color:rgb(47, 255, 0);

}
.heading{
    width:80%;
    font-size:25px;
    font-weight:bold;

}

#camera, #result{
    border:2px dashed rgb(0, 213, 255);
    width:350px;
    height:300px;


}

#result_name, #result_accuracy{
    color:rgb(153, 0, 255);
    
}
